body {
    background-color: #5ffeff;
    font-family: templeos;
    font-size: 13px;
    color: #5757ff;
}

div.boxMain {
    width: 60%;
    height: auto;
    background-color: rgb(208, 208, 208);
    border: 3px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 20px;
    text-align: center;
    margin: auto;
}

.gif1 {
    position: fixed;
    bottom: 0;
}

div.aboutBox {
    width: 60%;
    height: auto;
    background-color: rgb(208, 208, 208);
    border: 3px solid rgb(0, 0, 0);
    padding: 0px;
    margin: 20px;
    text-align: center;
    margin: auto;
}

@font-face {
    font-family: 'templeos';
    src: URL('fonts/templeos_font.ttf') format('truetype');
  }

img{
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.backButton {
    background-color: #ffff55;
    height: 40px;
    width: 80px;
}

#link1 , #link2 {
    display:inline-block;
    /* additional code */
}



/* rainbow text */
.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: templeos;

	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}